{% extends 'dashboard/AdminDashboard.html' %}

{% load static %}


{% block page %}<a href="{% url 'admin_dashboard' %}"> Admin Dashboard </a>
</li>
<li><i class='bx bx-chevron-right'></i></li>
<li>
    <a class="active" href="{% url 'users' %}">Users</a>{% endblock page %}

    {% block content %}
    <ul class="box-info">
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3>{{ total_count }} Users</h3>
                <p>Musicians: {{ total_musicians }} <span style="color:rgb(28, 24, 235)">({{ musician_percentage
                        }}%)</span> </p>
                <p>Clients: {{ total_clients }} <span style="color:rgb(28, 24, 235)">({{ client_percentage }}%)</span>
                </p>

            </span>
        </li>
        <li>
            <i class='bx bxs-group'></i>
            <span class="text">
                <h3> Musicians:Clients </h3>

            </span>
        </li>
        <li>
            <i class='bx bx-money'></i>
            <span class="text">
                <h3>Ksh. { sum_transfer }</h3>
                <p> { totalpaid } </p>
                <p> { Avg/gig } </p>
            </span>
        </li>
        <li>
            <i class='bx bxs-briefcase'></i>
            <span class="text">
                <h3> {{ successfulhires_count }} Hires</h3>
                
            </span>
        </li>
        <li>
            <i class='bx bxs-folder-open'></i>
            <span class="text">
                <h3> {{ applications_count }} applications</h3>
                <p> Successful: {{ successfulapplications_count }} </p>
                <p> Pending: {{ pending_applications_count }} </p>
                <p> Rejected: {{ rejected_applications_count }} </p>
            </span>
        </li>
        <li>
            <i class='bx bxs-music'></i>
            <span class="text">
                <h3> User Distribution</h3>

                <div>
                    <canvas id="myChart"></canvas>
                </div>






                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: ['Musician', 'Client'],
                            datasets: [{
                                label: 'Users Distribution by Role',
                                data: [{ total_musicians }, { total_clients }],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.8)',
                            'rgba(54, 162, 235, 0.8)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',

                        ],
                        borderWidth: 2
                    }]
                },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                    });
                </script>


                <script src="path/to/chartjs/dist/chart.umd.js"></script>
                </section>



                {% endblock content %}