@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav{
    display: flex;
    position: fixed;
    margin-bottom: 5%;

}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    padding: 10%;
    background-color: #d49f0d;
    width: 80%;
    min-height: 52vh;
}

.about {
    width: 60%;

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-top:30%;
    
}
