{% extends 'base.html' %}

{% load static %}

{% block title %} Gigs Page {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/C-Gigs.css' %}">
{% endblock css %}




{% block searchbar %}
{% endblock searchbar %}

{% block content %}
<div style="margin-right: 10%; position: relative; background-color: yellow; width: 40%; margin-top:10%;">
    <ul>
        {% for application in applications %}
        <li>
            <div class="applications-div-content">
                <form method="post">
                    {% csrf_token %}
                    <h3> Musician Name: {{ application.musician.user.username }}</h3>
                    <h3> Gig Title: {{ application.gig.title }} </h3>
                    <h3> Genres: {{ application.musician.genres. }}</h3>
                    <h3> Skill_level: {{ application.musician.skill_level }}</h3>
                    <h3> Genres: {{ application.musician.charge_rate }} / {{ application.musician.charge_rate_type }}
                    </h3>
                    <h3> Date Applied: {{ application.date_applied }}</h3>
                    <h3>Rating: {Rating}</h3>
                    <button class="hire-btn" type="submit" name="decision" value="hire">Hire</button>
                    <button class="hire-btn" type="submit" name="decision" value="reject">Reject</button>
                </form>

            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="dov" style="margin-right: 10%; position: relative; background-color: yellow; width: 40%; margin-top:10%;">
    <h2>
        <p> My Hires</p>
    </h2>
    <ul>

        {% for successfulhire in successfulhires %}
        <li>
            <div class="applications-div-content">
                <form method="post">
                    {% csrf_token %}
                    <h3> Musician Name: {{ successfulhire.musician.user.username }}</h3>
                    <h3> Gig Title: {{ application.gig.title }} </h3>
                    <h3> Genres: {{ application.musician.genres. }}</h3>
                    <h3> Skill_level: {{ application.musician.skill_level }}</h3>
                    <h3> Genres: {{ application.musician.charge_rate }} / {{ application.musician.charge_rate_type
                        }}
                    </h3>
                    <h3> Date Applied: {{ application.date_applied }}</h3>
                    <h3>Rating: {Rating}</h3>
                    <button class="hire-btn" type="submit" name="decision" value="Complete">Complete</button>
                    <button class="hire-btn" type="cancel" name="decision" value="reject">Cancel</button>
                </form>

            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock content %}