{% extends 'base.html' %}

{% load static %}
{% block title %} My Account {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/AccountDetails.css' %}">
{% endblock css %}


{% block content %}
<div class="wrap"
    style="display: flex; justify-content: center; margin-top: 20%; margin-left: 20%; box-shadow: 0 8px 16px 8px rgba(28, 93, 168, 0.329); border-radius: 15px; width: 60%; margin-bottom: 20%;">


    <div class="form-group"
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h2 style="margin-right: 20%;">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="Password-Change-Form" style="display: flex; flex-direction: column; ">
                {{ form.as_p }}
            </div>
            <button type="submit"
                style="background-color: blue; color: white; width: 15vw; height: 5vh; font-size: larger; border: none; border-radius: 10px; margin: 5% 10% 5% 10%;">Change
                Password</button>
        </form>

    </div>
</div>
{% endblock content %}