{% extends 'base.html' %}

{% load static %}

{% block title %}Gigs Page{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/M-Gigs.css' %}">{% endblock css %}

{% block searchbar %}
<div class="search">
    <input type="text" class="search-input" placeholder="Search by Title, Budget, Gig Type... ">
    <i class="bx bx-search"></i>
    <i class="bx bx-filter" ></i>
</div>
<div class="filters">
    <select name="Profession_category" id="profession-category-filter" required>*
        <option name="">Filter by Profession_category</option>
        <option name="Singer">Singer</option>
        <option name="Songwriter">Songwriter</option>
        <option name="Producer">Producer</option>
        <option name="Vocalist">Vocalist</option>
        <option name="Band">Band</option>
        <option name="Instrumentalist">Instrumentalist</option>
        <option name="Sound-engineer">Sound Engineer</option>
        <option name="Music-educator">Music Educator</option>
        <option name="Folk-traditional">Folk and Traditional</option>
        <option name="Dj">DJ</option>
        <option name="Cover-band">Cover Band</option>
        <!---- I will add more options here as needed ---->
    </select>
    <select name="budget-filter" id="budget-filter">
        <option value="">Filter by Budget</option>
        <option value="0-1000">0-1000</option>
        <option value="1001-2500">1001-2500</option>
        <option value="2501-5000">2501-5000</option>
        <option value="5000-10000">5000-10000</option>
        <option value="10001-20000">10001-20000</option>
        <option value="20001-50000">20001-50000</option>
        <option value="50001-">50001-</option>
    </select>
    <select name="event_policy" id="event-policy-filter" required>
        <option name="">Select a category</option>
        <option value="Instruments-provided">100%: Instruments-provided</option>
        <option value="Come with yours">Come with yours</option>
        <option value="Negotiable">Negotiable</option>
    </select>
    <input type="text" id="location-search-input" placeholder="Search by Location">

    <select class="select-field" name="genres-filter" id="genres-filter" required>
        <option value="">Filter by Genre</option>
        <option value="Jazz">Jazz</option>
        <option value="Afro-Pop">Afro-Pop</option>
        <option value="Funk-fusion">Funk-fusion</option>
        <option value="R&B">R&B</option>
        <option value="Soul">Soul</option>
        <option value="Local">Local</option>
        <option value="Rhumba">Rhumba</option>
        <option value="Bongo">Bongo</option>
        <option value="Gospel">Gospel</option>
        <option value="Gengeton">Gengeton</option>
        <option value="Benga">Benga</option>
        <option value="Classical">Classical</option>
        <option value="Rock">Rock</option>
        <option value="Zilizopendwa">Zilizopendwa</option>
        <option value="Pop">Pop</option>
        <option value="Electronic">Electronic</option>
        <option value="Country">Country</option>
        <option value="Taarab">Taarab</option>
        <option value=">Mugithi">Mugithi</option>
        <option value="Chakacha">Chakacha</option>
        <option value="Reggaeton">Reggaeton</option>
        <option value="Folk">Folk</option>
        <option value="Indie">Indie</option>
    </select>
    <button id="reset-filters">Reset Filters</button>
</div>
{% endblock searchbar %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="content">

</div>

<!--
                <div class="filter-section">
                    <div class="selected-filters">
                        Add dynamically generated filter items here 
                    </div> 
                -->

<div class="jobs-section" style="border: none; margin-top: 2px;">
    <div>

        <h4> Displaying all {{ gig_count }} jobs </h4>
        <ul>
            {% for gig in gigs %}
            <li>
                <div class="jobpost">

                    <div class="tle-dle">
                        <h3>Job Title: {{ gig.title }}</h3>
                        <h4>Event Date: {{ gig.event_date }}</h4>
                    </div>

                    <div class="description-div">
                        <div>
                            <label style="width: 100%; height: 3vh; text-wrap: wrap; overflow-x: hidden">Description:
                                {{ gig.snippet }}</label>
                        </div>
                        <div>
                            <label class="event_date">Gig Type: {{ gig.event_type }}</label>
                        </div>
                    </div>
                    <div class="apply-div">
                        <div class="apply-divvv">
                            Genre:

                            {% for genre in gig.genres.all %}
                            <span class="genre-div"> {{ genre }} </span>
                            {% endfor %}
                        </div>
                        <div class="apply-divvv">
                            <h3>Budget: {{ gig.budget }}</h3>
                        </div>
                        <div class="apply-divvv">
                            <h3>Status: {{ gig.status }}</h3>
                        </div>
                        <!-- Hidden Fields -->
                        <div>
                            <form method="post" action="{% url 'gigspage' %}">
                                {% csrf_token %}
                                <div class="apply-divvv">
                                    <input name="gig_id" hidden value="{{gig.pk}}" />
                                </div>
                                <!-- <div class="apply-divvv">
                                                <input name="musician_id">Musician: {{ musician.pk }}</input>
                                            </div>
                                            <div class="apply-divvv">
                                                <input name="client_id">Client: {{ client.pk }}</input>
                                            </div> -->
                                {% if gig.status == 'Open' %}
                                <button type="submit" id="Apply-btn" class="Apply-btn">Apply</button>
                                {% else %}
                                <button type="button" id="Apply-btn" class="Apply-btn">Closed</button>
                                {% endif %}

                            </form>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="successful-application" style="display: none;">
    <div class="success-card">
        <img src="{% static 'Resources/SuccessAnimation.gif' %}" alt="success message">
        <p class="success-text">Application Success!</p>
        <button type="button" class="close-btn">Close</button>
    </div>
</div>


</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('.search-input');
        const professionCategoryFilter = document.getElementById('profession-category-filter');
        const budgetFilter = document.getElementById('budget-filter');
        const eventPolicyFilter = document.getElementById('event-policy-filter');
        const genresFilter = document.getElementById('genres-filter');
        const resetFiltersButton = document.getElementById('reset-filters');
        const jobPosts = document.querySelectorAll('.jobpost');

        // Function to handle search input
        searchInput.addEventListener('input', function() {
            const searchTerm = searchInput.value.toLowerCase().trim();
            jobPosts.forEach(function(post) {
                const jobTitle = post.querySelector('h3').textContent.toLowerCase();
                const jobDescription = post.querySelector('.description-div').textContent.toLowerCase();
                if (jobTitle.includes(searchTerm) || jobDescription.includes(searchTerm)) {
                    post.style.display = 'block';
                } else {
                    post.style.display = 'none';
                }
            });
        });

        // Function to handle filter selection
        function filterJobs() {
            const professionCategoryValue = professionCategoryFilter.value;
            const budgetValue = budgetFilter.value;
            const eventPolicyValue = eventPolicyFilter.value;
            const genresValue = genresFilter.value;
            jobPosts.forEach(function(post) {
                const jobProfessionCategory = post.querySelector('select[name="Profession_category"]').value;
                const jobBudget = post.querySelector('select[name="budget-filter"]').value;
                const jobEventPolicy = post.querySelector('select[name="event_policy"]').value;
                const jobGenres = post.querySelector('select[name="genres-filter"]').value;
                const jobTitle = post.querySelector('h3').textContent.toLowerCase();
                const jobDescription = post.querySelector('.description-div').textContent.toLowerCase();

                const professionCategoryMatch = professionCategoryValue === '' || jobProfessionCategory === professionCategoryValue;
                const budgetMatch = budgetValue === '' || jobBudget === budgetValue;
                const eventPolicyMatch = eventPolicyValue === '' || jobEventPolicy === eventPolicyValue;
                const genresMatch = genresValue === '' || jobGenres === genresValue;
                const searchMatch = searchInput.value === '' ||
                                    jobTitle.includes(searchInput.value.toLowerCase()) ||
                                    jobDescription.includes(searchInput.value.toLowerCase());

                if (professionCategoryMatch && budgetMatch && eventPolicyMatch && genresMatch && searchMatch) {
                    post.style.display = 'block';
                } else {
                    post.style.display = 'none';
                }
            });
        }

        // Event listeners for filter selection
        professionCategoryFilter.addEventListener('change', filterJobs);
        budgetFilter.addEventListener('change', filterJobs);
        eventPolicyFilter.addEventListener('change', filterJobs);
        genresFilter.addEventListener('change', filterJobs);
        resetFiltersButton.addEventListener('click', function() {
            searchInput.value = '';
            professionCategoryFilter.value = '';
            budgetFilter.value = '';
            eventPolicyFilter.value = '';
            genresFilter.value = '';
            jobPosts.forEach(function(post) {
                post.style.display = 'block';
            });
        });

        // Apply initial filter on page load
        filterJobs();
    });
</script>


{% endblock content %}

</body>