{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile </title>


    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="{% static 'css/TrialDashboard1.css' %}">
    <link rel="stylesheet" href="{% static 'css/TrialDashboard2.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>


    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <header>
            <div class="brandLogo">
                {% if request.user.is_authenticated %}
                <h1><span style="font-size: 40px;">M</span>usicians<span style="font-size: 35px">C</span>onnect</h1>
                <div class="nav-menu" id="navMenu">
                    <ul>
                        <li><a href="{% url 'home' %}" class="link active">Home</a></li>
                        <li><a href="{% url 'musicianspage' %}" class="link active">Musicians</a></li>

                        <div class="gigs-dropdown">
                            <li>
                                <Gigs href="{% url 'gigspage' %}" class="link active">Gigs</a>
                            </li>
                            <div class="gigs-dropcont">
                                <li><a href="{% url 'clientgigs' %}">My Gigs</a></li>
                                <li><a href="{% url 'gigspage' %}">Available Gigs</a></li>
                            </div>
                        </div>
                        <!-- <li><a href="#" class="link"></a>Services</li> -->
                        <li><i class='bx bxs-chat'></i></li>
                    </ul>
                </div>
            </div>



            <div class="profile-container">

                <a href="#Profile_Page" class="profilebtn" id="my-profile-link"> {{ request.user }}</a\>
                    <div class="dropdown-content">
                        {% if user.musician %}
                        <img src="{{ request.user.musician.profile_picture }}" class="profilepic"
                            id="profile-picture"></img>
                        {% else %}
                        <img src="{{ request.user.client.profile_picture }}" class="profilepic"
                            id="profile-picture"></img>
                        {% endif %}
                        <li><a href="{% url 'view_profile' user.musician.id %}">View Profile</a></li>
                        {% if user.musician %}
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        {% else %}
                        <li><a href="{% url 'application_review' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="#MessagesPage">Messages and Notifications </a></li>
                        <li><a href="#clientPage">My Transactions</a></li>
                        <li><a href="{% url 'account_details' %}">Account Details</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>

                    </div>
            </div>
            {% else %}
            <div class="nav-button">
                <a class="btn" href="{% url 'landingpage' %}" style="color:white">Sign In</a>
            </div>
            {% endif %}

        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile"
                style="background:#fff; width: 100%; display: flex; align-items: center; padding: 5%;margin-left: 2%; border-radius: 50px;">
                
                <figure>
                    {% if musician.profile_picture %}
                    <img src="{{ user.musician.profile_picture.url }}" style="width: 80%; height: 80%;"
                        alt=" profile" width="250px" height="250px">
                        {% else %}
                    <img src="{% static 'Resources/default.jpg' %}" style="width: 80%; height: 80%;"
                        alt=" profile" width="250px" height="250px">
                        {% endif %}
                </figure>
               

            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="work">
                <h1 class="heading">About </h1>
                <div class="primary">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    <span>Official Names</span>
                    <p> {{ user.musician.phone_number }}<br> {{ user.email }}</p>
                </div>

                <div class="secondary">
                    <h1>{{ user.username }}</h1>
                    <span>Stage Name</span>
                    <p>{{ user.musician.location }}<br> {{ user.musician.bio }}</p>
                    <span>Stage Name</span>
                    <div style="display: flex;">
                        <h3><i class='bx bxl-facebook' style="font-size: 30px;"></i><a
                                href="{{ user.musician.facebook }}" style="text-decoration: none; color:black;"></a>
                        </h3>
                        <h3 style="text-align:justify;"><i class='bx bxl-instagram' style="font-size: 30px;"></i><a
                                href="{{ user.musician.instagram }}" style="text-decoration: none; color:black;"></a>
                        </h3>
                    </div>

                </div>
            </div>

            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Preferred Genres</h1>
                <ul>
                    {% for genre in genres %}
                    <li style="--i:0">{{ genre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">

            <div class="userName">
                <h1 class="name">{{ user.first_name }} {{ user.last_name }}</h1>
                <div class="map" style=" margin-left: 10%;">
                    <i class="ri-map-pin-fill ri"></i>
                    <span>{{ user.musician.location }}, Kenya</span>
                </div>
                <p>{{ user.musician.title }}</p>
            </div>
            <div class="analytics">
                <div class="rank">
                    <h1 class="heading">Successful hires:{{ successfulhires_count }}</h1>
                    <span>{{ total_gigs }}</span>
                    <div class="rating">
                        <i class="ri-star-fill rate underrate"></i>
                    </div>
                </div>
                <div class="rank" style="height: 10%;">
                    <h1 class="heading">Rating: {{ avg_rating|floatformat:1 }} </h1>
                    <span>{{ total_gigs }}</span>
                    <div class="rating">
                        <i class="ri-star-fill rate underrate"></i>
                    </div>
                </div>
                <div class="rank">
                    <h1 class="heading">Experience:
                        {{ user.musician.experience }} </h1>
                    <div class="rating">
                        <i class="ri-star-fill rate underrate"></i>
                    </div>
                </div>
                <div class="rank">
                    <h1 class="heading">{{ user.musician. }} </h1>
                    <span>{{ total_gigs }}</span>
                    <div class="rating">
                        <i class="ri-star-fill rate underrate"></i>
                    </div>
                </div>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg active">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">Hire Musician(add popup)</a>
                    </li>

                    <li class="sendMsg active">
                        <a href="#">Report User</a>
                    </li>
                </ul>
            </div>
        </section>

        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="basic-description" onclick="openTab(event, 'basic-description-content')">
                        <i class="ri-eye-fill ri"></i>
                        <span>Musician's Bio</span>
                    </li>
                    <li class="hire-me-details active" onclick="openTab(event, 'hire-me-details-content')">
                        <i class="ri-user-3-fill ri"></i>
                        <span>Hire Me Details</span>
                    </li>
                    <li class="samples-of-work" onclick="openTab(event, 'samples-content')">
                        <i class="ri-user-3-fill ri"></i>
                        <span>Samples of Work</span>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="content" id="basic-description-content">
                    <!-- Basic Description content goes here -->
                    <div class="contact_Info">
                        <h1 class="heading" style="border-bottom: 0.4px solid #ccc ; margin-bottom: 2%;">My Bio</h1>
                        <label for="musician-bio">My Bio</label><br>
                        <textarea style="width: 90%; height:15vh; resize:none"
                            disabled>{{ user.musician.bio }}</textarea>
                        <div>
                            <h3 style="border-bottom: 0.4px solid #ccc ; margin-bottom: 2%;">My Skills</h3>
                            <ul>
                                {% for skill in skills %}
                                <li>
                                    <p>{{ user.skill }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="content active" id="hire-me-details-content">
                    <!-- Hire Me Details content goes here -->
                    <div class="contact_Info">
                        <h1 class="heading" style="border-bottom: 0.4px solid #ccc; margin-bottom: 2%;">Hire Me Details
                        </h1>
                        <ul>
                            <li class="phone" style="margin-bottom: 2%;">
                                <h1 class="label">My Charge Rate: {{ user.musician.charge_rate }}/
                                    {{ user.musician.charge_rate_type }}</h1>
                            </li>
                            <li class="phone" style="margin-bottom: 2%;">
                                <h1 class="label">My Payment Policy:
                                    {{ user.musician.payment_policy }}</h1>
                            </li>
                            <li class="phone" style="margin-bottom: 2%;">
                                <h1 class="label">Location: {{ musician.location }}</h1>
                            </li>
                            <li class="phone" style="margin-bottom: 2%;">
                                <h1 class="label">Instruments:{{ musician.instrument }}</h1>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content" id="samples-content">
                    <div class="contact_Info">
                        <h1 class="heading" style="border-bottom: 0.4px solid #ccc; margin-bottom: 2%;">Samples of Work
                        </h1>
                        <div class="uploaded_samples">
                            <h3 class="heading">These are some of my works</h3>
                            {% if user.musician.sample1 %}
                            <div>
                                <button type="button" class="sample-btnss" onclick="showPopup_one()">Watch Sample
                                    1</button>
                            </div>
                            {% else %}
                            <p> {{ user.musician.user.username }} has not uploaded sample 1 yet</p>
                            {% endif %}
                            {% if user.musician.sample2 %}
                            <div>
                                <button type="button" onclick="showPopup_two()">Watch sample 2</button>
                            </div>
                            {% else %}
                            <div>
                                <p> {{ user.musician.user.username }} has not uploaded sample 2 yet</p>
                            </div>
                            {% endif %}
                            <!-- Add more sample_wrapper divs for each uploaded sample -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="video-content-popup" id="video-content-popup">
                <div class="video-content">
                    <div class="sample_wrapper">
                        {% if user.musician.sample1 %}
                        <video src="{{ user.musician.sample1.url }}" controls></video>
                        {% else %}
                        <p> No video uploaded</p>
                        {% endif %}
                    </div>
                </div>
                <button class="popupbtn-close" onclick="hidePopup_one()"><i class="bx bx-x"></i></button>
            </div>
            <div class="video-content-popup" id="video-content-popup2">
                <div class="video-content">
                    <div class="sample_wrapper">
                        {% if user.musician.sample2 %}
                        <video src="{{ user.musician.sample2.url }}" controls></video>
                        {% else %}
                        <p> No video uploaded </p>
                        {% endif %}
                    </div>
                </div>
                <button class="popupbtn-close" onclick="hidePopup_two()"><i class="bx bx-x"></i></button>
            </div>
            <script>
                function openTab(evt, tabName) {
                    // Hide all tab contents
                    var contents = document.getElementsByClassName("content");
                    for (var i = 0; i < contents.length; i++) {
                        contents[i].style.display = "none";
                    }

                    // Remove "active" class from all tabs
                    var tabs = document.getElementsByClassName("tabs")[0].getElementsByTagName("li");
                    for (var i = 0; i < tabs.length; i++) {
                        tabs[i].classList.remove("active");
                    }

                    // Show the selected tab content and mark the tab as active
                    document.getElementById(tabName).style.display = "block";
                    evt.currentTarget.classList.add("active");
                }

                function showPopup_one() {
                    document.getElementById("video-content-popup").style.display = "block";
                }

                function hidePopup_one() {
                    document.getElementById("video-content-popup").style.display = "none";
                }
                function showPopup_two() {
                    document.getElementById("video-content-popup2").style.display = "block";
                }

                function hidePopup_two() {
                    document.getElementById("video-content-popup2").style.display = "none";
                }
            </script>
        </section>


</body>

</html>
</div>


<script>
    function showPopup() {
        document.getElementById("jobs-list").style.display = "block";
    }

    function hidePopup() {
        document.getElementById("jobs-list").style.display = "none";
    }


</script>


</body>

</html>