{% load static %}
<!DOCTYPE html>
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Payment Page </title>
    <link rel="stylesheet" href="{% static 'css/PaymentPage.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3XasVDzwYHcsfRAcs4WbEQjxOM8OgFuP89RcO+oYl/IkOcxNRzM" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        integrity="sha256-hwg4j4xswUlQbO5LalJDvQHv3VUEjGjUtUXVEjinxFuA=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-DfmutlichdDJjPq8NBTIwdHgmzAjzCVsmqnHMFQ3wWqSHLiEyQeXrEKfAW+cvp0jGgq"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-qmAhsUFGDg9g7SKYTzouT9vRMoug2xyg653X1GtH GOttXL2GxQz9IBIbGyqjgZ" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12">
                <div class="card mx-auto">
                    <p class="heading">PAYMENT DETAILS</p>
                    <form class="card-details ">
                        <div class="form-group mb-0">
                            <p class="text-warning mb-0">Card Number</p>
                            <input type="text" name="card-num" placeholder="1234 5678 9012 3457" size="17" id="cno"
                                minlength="19" maxlength="19">
                            <img src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                        </div>

                        <div class="form-group">
                            <p class="text-warning mb-0">Cardholder's Name</p> <input type="text" name="name"
                                placeholder="Name" size="17">
                        </div>
                        <div class="form-group pt-2">
                            <div class="row d-flex">
                                <div class="col-sm-4">
                                    <p class="text-warning mb-0">Expiration</p>
                                    <input type="text" name="exp" placeholder="MM/YYYY" size="7" id="exp" minlength="7"
                                        maxlength="7">
                                </div>
                                <div class="col-sm-3">
                                    <p class="text-warning mb-0">Cvv</p>
                                    <input type="password" name="cvv" placeholder="&#9679;&#9679;&#9679;" size="1"
                                        minlength="3" maxlength="3">
                                </div>
                                <div class="col-sm-5 pt-0">
                                    <button type="button" class="btn btn-primary"><i
                                            class="fas fa-arrow-right px-3 py-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>