<!-- Gigs Analytics -->
<div class="order">
    <div class="head">
        <h3>Gig Analytics</h3>
        <i class='bx bx-search'></i>
        <i class='bx bx-filter'></i>
    </div>
    <!-- Gigs Table -->
    <table>
        <thead>
            <tr>
                <th>Gig</th>
                <th>Date Created</th>
                <th>Client</th>
                <th>Status</th>
                <th>Budget</th>
                <th>Professional Category</th>
                <th>Genre</th>
                <th>Expiry Date</th>

            </tr>
        </thead>
        <tbody>