

<div class="todo">
    <div class="head">
      <h3>Popular Genres</h3>
      <i class='bx bx-plus'></i>
      <i class='bx bx-filter'></i>
    </div>
    <ul class="todo-list">
      { for loop }
      <li class="completed">
        <p>{ Genre } {popularity %}</p>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      { end for }
      <li class="completed">
        <p>{genre}</p>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      <li class="not-completed">
        <p>{Genre}</p>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      <li class="completed">
        <p>{Genre}</p>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
      <li class="not-completed">
        <p>Todo List</p>
        <i class='bx bx-dots-vertical-rounded'></i>
      </li>
    </ul>
  </div>