@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: a#eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --light-red: #e9b3b3;
  --red: #ca211b;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --green: rgb(0, 201, 17);
  --light-green: rgb(168, 252, 154);
  --light-purple: #c9acf0;
  --purple: #9b14da;
}

body {
  background-color: #e3e5f5;
  background-image: linear-gradient(29deg, #e3e5f5 0%, #ffffff 100%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}
/* Start of Nav-Bar!!!*/
.nav {
  background-image: linear-gradient(
    135deg,
    #de0050 0%,
    #2f8ed8 55%,
    #1619b1 100%
  );
  background-size: cover;
  top: 0;
  position: fixed;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  height: 100px;
  padding: 20px;
  z-index: 100;
}
.nav-logo h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 20px;
  flex-wrap: nowrap;
}
.nav-menu ul li {
  list-style-type: none;
}

.nav-menu li {
  text-decoration: none;
  font-weight: 500px;
  color: #fff;
  margin: 0 30px;
  z-index: 100%;
  cursor: pointer;
}
.nav-menu li:hover {
  border-bottom: 2px solid #fff;
}
.nav-menu ul i {
  font-size: 30px;
}
.nav-menu .bxs-chat {
  position: relative;
  font-size: 40px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 0px;
  font-size: 20px;
  margin-right: 20px;
  z-index: 1;
}
.profilebtn {
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
}
.dropdown-content {
  font-size: 17px;
  display: none;
  position: absolute;
  padding: 5px;
  min-width: 250px;
  margin-right: 20px;
  background-image: linear-gradient(
    135deg,
    #de0050 0%,
    #2f8ed8 55%,
    #1619b1 100%
  );
  box-shadow: 0px 8px 16px 0px rgba(11, 66, 184, 0.3);
  /* z-index: 500; */
  top: 80px;
  border-radius: 10px;
}
.dropdown-content li {
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 2px;
  color: #fff;
  z-index: 400;
}

.dropdown-content li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.profile-container.active .dropdown-content {
  display: block;
}
.profile-container:hover .dropdown-content {
  display: block;
  flex-direction: column;
  width: 50px;
}
.profile-container .profilepic {
  position: sticky;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
/*---Gigs dropdown---*/

.gigs-dropcont {
  font-size: 17px;
  display: none;
  position: absolute;
  padding: 5px;
  width: 13%;
  margin-right: 20px;
  background-color: #8e1c8e;
  background-image: linear-gradient(211deg, #8e1c8e 0%, #365456 100%);
  box-shadow: 0px 8px 16px 0px rgba(11, 66, 184, 0.3);
  z-index: 2;
  top: 0px;
  border-radius: 10px;
}
.gigs-dropcont li {
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 2px;
}
.gigs-dropcont li a {
  text-decoration: none;
  color: #fff;
}
.gigs-dropdown .active .gigs-dropcont {
  display: block;
}
.gigs-dropdown:hover .gigs-dropcont {
  margin-top: 0.5%;
  display: block;
  flex-direction: column;
}

/* ---End of Gigs-Dropdown---*/
/* End of Nav-Bar!!!*/

/* Start of Content Section!!!*/
.content {
  position: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
  width: 100%;
  height: max-content;
}

/*Start of Search Bar Property!!*/

.bx-search {
  position: relative;
  z-index: 1;
  right: 37px;
  font-size: 20px;

  color: rgba(199, 25, 0, 0.945);
  cursor: pointer;
  margin: 1px;
}
.bx-filter {
  position: relative;
  z-index: 1;
  right: 37px;
  font-size: 20px;
  background-color: rgba(21, 18, 231, 0.7);
  color: rgba(199, 25, 0, 0.945);
  cursor: pointer;
  margin: 1px;
}

/*End of Search Bar Property!!*/

/*Start of Footer Styling*/

footer {
  position: relative;
  display: flex;
  bottom: 0;
  height: 35vh;
  width: 100%;
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.col-md-1 {
  flex: 1;
  padding: 10px;
}
.col-md-2 {
  flex: 1;
  padding: 10px;
}
.col-md-3 {
  flex: 1;
  padding: 10px;
}
.logo {
  max-width: 100px;
  height: auto;
}
.social-media {
  list-style: none;
  padding: 0;
}
.social-media li {
  display: flex;
  margin-right: 10px;
}
.social-media li a {
  color: #fff;
  text-decoration: none;
}
.bxl-facebook-circle {
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  color: #316ff6;
}
.bxl-facebook-circle:hover {
  color: #316ff6;
  background: white;
  border-radius: 25px;
}
.bxl-instagram {
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  margin: 25px;
}
.bxl-instagram:hover {
  background: #f09433;
  border-radius: 20px;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin-bottom: 5px;
}
ul li a {
  color: #fff;
  text-decoration: none;
}
ul li a:hover {
  color: #ccc;
}
/* ---------END of Footer Styling-----------*/

.wrap {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.messages-pd {
  position: absolute;
  display: flex;
  top: 30px;
  left: 10px;
  background-color: #76a4c7;
  color: #fff;
  width: 20vw;
  height: 10vh;
}

.applications-div {
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #76a4c7;
  width: 90%;
  padding: 2%;
  margin-left: 2%;
  border-radius: 25px;
  overflow-x: scroll;
}

.success-applications-div {
  margin-top: 5%;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  border-radius: 25px;
  overflow-y: scroll;
}
.application-card {
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 3vh;
  padding: 2%;
  box-shadow: 0px 8px 16px 1px rgba(19, 27, 25, 0.7);
  color: #000;
  cursor: pointer;
  height: 20%;
}

::-webkit-scrollbar {
  display: none;
}

.current-gig {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 8px 16px 1px rgba(84, 136, 123, 0.7);
  border-radius: 15px;
  margin-top: 5%;
  margin-left: 10%;
  padding: 5%;
  height: 100%;
  width: 40%;
}
.current-gig::-webkit-scrollbar {
  display: none;
}
/* .current-gig ul {
  display: flex;
  flex-direction: column;
} */
.current-gig ul li {
  list-style-type: none;
}
.current-gig h4 {
  position: static;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
}
.gig-item {
  display: flex;
  box-shadow: 0px 8px 16px 1px rgba(36, 7, 197, 0.7);
  border-radius: 15px;
  padding: 5%;
  background-color: #bce71f;
  margin-bottom: 2%;
  width: 100%;
}
.current-gig-btn {
  margin-top: 5%;
  width: 80%;
  height: 20%;
  background-color: #316ff6;
  color: #fff;
  border: 1px solid rgba(11, 66, 184, 0.3);
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(11, 66, 184, 0.3);
  cursor: pointer;
  transition: ease-in-out 0.1s;
  font-size: 14px;
}
.current-gig-btn:hover {
  font-size: 15px;
}

.gig-item h4 {
  font-weight: 400;
}
.popupbtn-close {
  position: absolute;
  top: 10vh;
  right: 5vw;
}
.gig-btn {
  background-color: #1619b1;
  color: #fff;
  border-radius: 15px;
  width: 90%;
  height: 10%;
  border: none;
  box-shadow: -3px 8px 16px 0px rgba(47, 82, 65, 0.7);
  cursor: pointer;
}
.gig-btn:hover {
  box-shadow: 0px 8px 18px -1px rgba(47, 82, 65, 0.7);
  cursor: pointer;
}

.table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
.table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
.table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
.table-data .head .bx {
  cursor: pointer;
}
.search-btn {
  border-radius: 0px 20px 20px 0px;
  border: none;
  color: #fff;
  text-align: center;
  width: 10px;
}
.table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}
.table-data .order table {
  width: 100%;
  border-collapse: collapse;
}
.table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
.table-data .order table td {
  padding: 16px 0;
}
.table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
.table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.table-data .order table tbody tr:hover {
  background: var(--grey);
}
.table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
.table-data .order table tr td .status.completed {
  background: var(--blue);
}
.table-data .order table tr td .status.process {
  background: var(--yellow);
}
.table-data .order table tr td .status.pending {
  background: var(--light-orange);
}
.table-data .order table tr td .status.submitted {
  background: var(--green);
}

.table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
.table-data .todo .todo-list {
  width: 100%;
}
.table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-data .todo .todo-list li .bx {
  cursor: pointer;
}
.table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
.table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
.table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
thead {
  background-color: #2f8ed8;
}
tr {
  border-bottom: 2px solid #ccc;
}
.application-container {
  margin: 20px;
}
.tab-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tab-btn {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.tab-btn.active {
  background-color: #ccc;
}
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}
